// app global css in SCSS form
@import url('./reset.scss');
@import url('./normalize.scss');
@import './_vars.scss';
@import './_mixins.scss';
@import './fonts.scss';

body,
html {
  color: $text_color;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  letter-spacing: 1px;
  line-height: 1.2;
}

h2 {
  letter-spacing: 0.8px;
  line-height: 1.3;
}

h3 {
  letter-spacing: 0.5px;
  line-height: 1.4;
}

h4 {
  letter-spacing: 0.3px;
  line-height: 1.5;
}

h5 {
  letter-spacing: 0.1px;
  line-height: 1.6;
}
